*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 10px; // 1.6rem = 16px
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.6rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cool {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #545454;
  color: tan;
}
